#progressBar {
  --scrollAmount: 0%;
  width: var(--scrollAmount);
  height: 3px;
  background-color: #1e8cdb;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.image-shortcode.frame.right {
  width: 18em;
}
