#dark-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  #dark-toggle img {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    cursor: pointer;
  }