<!DOCTYPE html>
<html>
    <head>
        {{- partial "head.html" . -}}
        <!-- Add your custom CSS file here -->
        <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
    </head>
    <body>
        <!-- Reading progress bar -->
        <div id="progressBar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}

        <!-- Add your JavaScript file here -->
        <script src="{{ "js/reading-progress.js" | relURL }}"></script>
    </body>
</html>
